<% provide(:title,'Contact') %>
<h1>Contact</h1>
<p>this is my contact page</p>
<label>Votre nom :</label>       <input type="text" title="name" id="name"><br>
<label>Adresse email :</label>   <input type="text" title="email" id="email"><br>
<label>Message :</label>         <textarea id="content" id="content"></textarea><br>
<input type="submit" value="Poster">

